section {
    background: #fff;
    transform: translate3d(0,0,0);
}

.h0 {
    font-size: $font-size-h0;
    font-size: $font-size-h0;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    margin-bottom: $line-height-computed;
}