.img-spacer {
    height: $line-height-computed * 25;
}

.img-spacer__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    visibility: hidden;

}